<div class="positioner">
  <form class="login-group">
    <div>
      <input type="email" id="email-input" placeholder="Email Address" ng-model="login.email">
    </div>
    <div>
      <input type="password" id="password-input" placeholder="Password" ng-model="login.password">
    </div>
    <div>
      <button id="login-btn" type="submit" ng-click="login.logIn()">Log In</button> or
      <button id="signup-btn" ng-click="login.signUp()">Sign Up</button>
      <button id="reset-btn" ng-click="login.resetPass()" ng-show="login.passReset">Reset Password</button>
    </div>
  </form>
</div>