<div class="positioner">
  <div class="user-group">
    <div class="logout">
      <button id="logout-btn" ng-click="user.logOut()">Logout</button>
    </div>
    <hr>
    <h3>Username:</h3>
    <input type="text" id="username-input" placeholder="Choose a username" ng-model="user.username">
    <button id="available-btn" ng-click="user.checkAvail()">Check Availability</button>
    <hr>
    <h3>Player Color:</h3>
    <input type="color" id="color-input" ng-model="user.color">
    <hr>
    <h3>Controls:</h3>
    <div>
      <input class="radio" type="radio" name="controls" ng-value="true" ng-model="user.mouse"><span> - Mouse/Touch Control</span>
    </div>
    <div>
      <input class="radio" type="radio" name="controls" ng-value="false" ng-model="user.mouse"><span> - Keyboard Control</span>
    </div>
    <hr>
    <h3>Collections Per Checkpoint:</h3>
    <input type="range" class="slider" id="checkpoint-length" min="5" max="50" step="5" ng-model="user.checkpoint">
    <input type="text" class="display" id="cp-display" readonly ng-model="user.checkpoint">
    <div>
      <input class="radio" type="checkbox" name="intro" ng-true-value="true" ng-false-value="false" ng-model="user.intro"><span> - Play Introduction</span>
    </div>
    <hr>
    <h3>Music Volume:</h3>
    <input type="range" class="slider" id="music-volume" min="0" max="100" step="1" ng-model="user.music">
    <input type="text" class="display" id="mv-display" readonly ng-model="user.music">
    <h3>Effects Volume:</h3>
    <input type="range" class="slider" id="effects-volume" min="0" max="100" step="1" value="100" ng-model="user.effects">
    <input type="text" class="display" id="ev-display" readonly ng-model="user.effects">
    <hr>
    <button id="menu-btn" type="submit" ng-click="user.checkAvail(true, 'menu')">Go To Main Menu</button>
    <button id="game-btn" ng-click="user.checkAvail(true, 'game')">Go To Game</button>
    <hr>
    <div ng-show="user.emailAuth">
      <h3>Account Settings:</h3>
      <div class="radio-holder">
        <div>
          <input class="radio" type="radio" name="account" value="email" ng-model="user.radioVal" ng-change="user.radioChange()"><span> - Change email address</span>
        </div>
        <div>
          <input class="radio" type="radio" name="account" value="pass" ng-model="user.radioVal" ng-change="user.radioChange()"><span> - Change password</span>
        </div>
        <div>
          <input class="radio" type="radio" name="account" value="delete" ng-model="user.radioVal" ng-change="user.radioChange()"><span> - Delete account</span>
        </div>
      </div>
      <input type="email" id="email-input" placeholder="Current Email" ng-model="user.email" ng-show="user.emailToggle || user.passToggle || user.deleteToggle">
      <input type="email" id="new-email-input" placeholder="New Email" ng-model="user.newEmail" ng-show="user.emailToggle">
      <input type="pasword" id="password-input" placeholder="Current Password" ng-model="user.password" ng-show="user.emailToggle || user.passToggle || user.deleteToggle">
      <input type="password" id="new-password-input" placeholder="New Password" ng-model="user.newPassword" ng-show="user.passToggle">
      <button id="email-btn" ng-click="user.changeEmail()" ng-show="user.emailToggle">Change Email</button>
      <button id="email-btn" ng-click="user.changePassword()" ng-show="user.passToggle">Change Password</button>
      <button id="email-btn" ng-click="user.removeUser()" ng-show="user.deleteToggle">Delete Account :(</button>
    </div>
  </div>
</div>