body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", Arial, sans-serif;
  background: #79C2B4; }

.hidden {
  display: none; }

.input-group,
#protein-btn,
#amino-btn {
  margin-top: 10px; }

#game-holder {
  width: 1024px;
  height: 576px;
  margin: 20px auto 0;
  background-image: url("../images/splash-screen.png"); }

.positioner {
  width: 0;
  height: 0;
  position: relative; }

.form-group, .login-group, .user-group, .stats-group, .menu-controls, .protein-search, .protein-menu {
  font-size: 1.2em;
  position: absolute;
  text-align: center; }
  .form-group input, .login-group input, .user-group input, .stats-group input, .menu-controls input, .protein-search input, .protein-menu input {
    width: 100%;
    padding: 2px;
    font-size: 1.2em;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    font-family: "Nunito", Arial, sans-serif; }
    .form-group input:invalid, .login-group input:invalid, .user-group input:invalid, .stats-group input:invalid, .menu-controls input:invalid, .protein-search input:invalid, .protein-menu input:invalid {
      color: red; }
  .form-group button, .login-group button, .user-group button, .stats-group button, .menu-controls button, .protein-search button, .protein-menu button {
    padding: 2px 5px;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: #eee;
    border: 1px solid black;
    font-family: "Nunito", Arial, sans-serif;
    box-shadow: inset 3px 3px 3px white, inset -3px -3px 3px #777; }
    .form-group button:hover, .login-group button:hover, .user-group button:hover, .stats-group button:hover, .menu-controls button:hover, .protein-search button:hover, .protein-menu button:hover {
      cursor: pointer;
      box-shadow: inset 0 0 6px white, inset 0 0 6px white, inset 3px 3px 3px white, inset -3px -3px 3px #777; }
    .form-group button:active, .login-group button:active, .user-group button:active, .stats-group button:active, .menu-controls button:active, .protein-search button:active, .protein-menu button:active {
      box-shadow: inset -3px -3px 3px white, inset 3px 3px 3px #777; }
    .form-group button:focus, .login-group button:focus, .user-group button:focus, .stats-group button:focus, .menu-controls button:focus, .protein-search button:focus, .protein-menu button:focus {
      outline: none; }

.login-group {
  top: 120px;
  left: 430px;
  width: 248px; }
  .login-group button {
    width: 42%; }
  .login-group #reset-btn {
    width: auto;
    margin-top: 10px; }

.user-group {
  top: 30px;
  left: 415px;
  width: 565px;
  height: 238px;
  overflow: auto; }
  .user-group h3 {
    padding: 0;
    margin: 0; }
  .user-group #username-input {
    width: 350px; }
  .user-group #color-input {
    height: 50px; }
    .user-group #color-input:hover {
      cursor: pointer; }
  .user-group .slider {
    width: 80%; }
  .user-group .display {
    width: 10%; }
  .user-group .radio-holder {
    text-align: left;
    padding-left: 160px; }
  .user-group .radio {
    width: auto; }

.stats-group {
  top: 40px;
  left: 415px;
  width: 565px;
  height: 225px;
  overflow: auto; }
  .stats-group section {
    text-align: left; }
  .stats-group .rank {
    font-size: 2.3em;
    float: left; }
  .stats-group .user-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: -5px;
    display: inline-block;
    border: 1px solid black; }
  .stats-group .achievements {
    padding: 0;
    margin: 5px 0;
    font-size: 0.8em;
    list-style: none;
    text-align: center; }
    .stats-group .achievements li {
      display: inline-block;
      width: 40%; }
  .stats-group .percentage {
    text-align: center; }
    .stats-group .percentage h5 {
      margin: 5px 0; }
  .stats-group .progress {
    height: 20px;
    border: 5px ridge #eee;
    background-color: #bbb; }
    .stats-group .progress .bar {
      height: 100%;
      display: inline-block;
      box-shadow: inset 2px 2px 5px white, inset -2px -2px 5px #777; }

.menu-controls {
  top: 270px;
  left: 415px;
  width: 565px;
  height: 2em; }

.protein-search {
  top: 170px;
  left: 250px;
  height: 2em;
  width: 530px; }

.protein-menu {
  top: 220px;
  left: 250px;
  width: 530px;
  height: 215px;
  overflow: auto;
  text-align: left; }
  .protein-menu .radiocheck {
    width: 15px;
    height: 15px;
    margin-right: 10px; }

.protein-name {
  display: inline-block;
  width: 400px; }

.sequence-length {
  float: right;
  margin-left: 10px; }
  .sequence-length span {
    font-size: 0.7em; }

/*# sourceMappingURL=main.css.map */
